[submodule "keebio-components"]
	path = PCB/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "Keebio-Parts.pretty"]
	path = PCB/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
